@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"] sayfasındasınız</h1>

<h3>Contact Info</h3>
<p>
    Şirket adı : xyz ltd.<br />
    Tel : 00-11-256-548<br />
    email: xyz@xyz.com
</p>